.parent{
  /* padding: 25px; */
  background-color: blanchedalmond;
  display: flex;
  gap: 30px;
  /* justify-content: start; */
  justify-content: center;
  /* justify-content: end; */
}







.child{
  border: 2px solid salmon;
   background-color: aquamarine;
   padding: 25px;
   font-size: 18px;
   /* margin:10px ; */
   display: inline;
   
  }